<!-- <form (submit)="addPost()" class="form" id="addpost" name="adpost">
    <div class="form-group">
      <label for="image">Obrazek:</label>
      <input type="text" id="image" name="image" [(ngModel)]="post.image" required class="form-control">
    </div>
  
    <div class="form-group">
      <label for="title">Tytuł:</label>
      <input type="text" id="title" name="title" [(ngModel)]="post.title" required class="form-control">
    </div>
  
    <div class="form-group">
      <label for="description">Opis:</label>
      <textarea id="description" name="description" [(ngModel)]="post.text" required class="form-control"></textarea>
    </div>
  
    <button type="submit" class="btn btn-primary">Dodaj post</button>
  </form> -->

  <section class="signup container">
    <h1 class="entry-title"><span>Add post</span></h1>
    <hr/>
    <form class="form-horizontal" method="post" name="addpost" id="addpost">
      <div class="form-group">
        <label class="control-label col-sm-3"
        >Title<span class="text-danger">*</span></label
        >
        <div class="col-md-8 col-sm-9">
          <div class="input-group">
            <span class="input-group-addon"
            ><i class="glyphicon glyphicon-envelope"></i
            ></span>
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              placeholder="Type title"
              value=""
              [(ngModel)]="post.title"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3"
        >Image<span class="text-danger">*</span></label
        >
        <div class="col-md-5 col-sm-8">
          <div class="input-group">
            <span class="input-group-addon"
            ><i class="glyphicon glyphicon-lock"></i
            ></span>
            <input
              type="text"
              class="form-control"
              name="image"
              id="image"
              placeholder="Wpisz url zdjęcia"
              value=""
              [(ngModel)]="post.image"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3"
        >Descritpion <span class="text-danger">*</span></label
        >
        <div class="col-md-8 col-sm-9">
          <input
            type="text"
            class="form-control"
            name="descritpion"
            id="descritpion"
            placeholder="Type
        name"
            value=""
            [(ngModel)]="post.text"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-10">
          <button
            (click)="create()"
            name="Submit"
            type="submit"
            class="btn btn-primary"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </section>
  